<img class="big-banner" src="/img/about-banner.jpg" />
<h2>About the Film</h2>
<p>
    The Hound of Heaven tells the story of a girl who believes that she is fleeing death, when she is actually running away from her only chance at life. Set to a surreal, nightmarish poem written in the nineteenth century by Francis Thompson, a homeless addict in London.
</p>
<p>
    The film was executive Produced by Hisao Kurosawa (Dreams, Ran, Rhapsody in August, After The Rain) and Brian Oxley, Produced by Aaron Rench and Caleb Applegate, Directed by N.D.Wilson (The River Thief, The Great Divorce) and starring Jason Petty AKA LA Rapper Propaganda and Danielle Smith.
</p>