<img class="big-banner" src="/img/about-banner.jpg" />
<h2>About the Film</h2>
<p>
    <span class="work-title">The Hound of Heaven</span> tells the story of a girl who believes that she is fleeing death, when she is actually running away from her only chance at life. Set to a surreal, nightmarish poem written in the nineteenth century by Francis Thompson, a homeless addict in London.
</p>
<p>
    The film was executive produced by Hisao Kurosawa (<span class="work-title">Dreams</span>, <span class="work-title">Ran</span>, <span class="work-title">Rhapsody in August</span>, <span class="work-title">After The Rain</span>) and Brian Oxley, Produced by Aaron Rench and Caleb Applegate, Directed by N.D.Wilson (<span class="work-title">The River Thief</span>, <span class="work-title">The Great Divorce</span>) and starring Jason Petty AKA LA Rapper Propaganda and Danielle Smith.
</p>