<% if defined? success %>
    <% if success %>
        <div class="success">Thanks, your message was sent.</div>
    <% else %>
        <div class="error">Your message could not be sent at this time. Please try again later.</div>
    <% end %>
<% end %>
<form method="POST" action="/contact">
    <span>
        <label class="split" for="contact-first">First</label>
        <label class="split" for="contact-last">Last</label>
    </span>
    <span>
        <input class="split" type="text" name="first" id="contact-first" />
        <input class="split" type="text" name="last" id="contact-last" />
    </span>
    <label for="contact-email">Email</label>
    <input type="email" name="email" id="contact-email" />
    <label for="contact-subject">Subject</label>
    <input type="text" name="subject" id="contact-subject" />
    <label for="contact-body">Body</label>
    <textarea name="body" id="contact-body"></textarea>
    <input type="submit" value="Submit" />
</form>