<form method="POST" action="/contact">
    <input class="split" type="text" name="first" />
    <input class="split" type="text" name="last" />
    <input type="email" name="email" />
    <input type="text" name="subject" />
    <textarea name="body"></textarea>
    <input type="submit" value="Submit" />
</form>