<img class="home-banner" src="/img/banner.jpg" />
<blockquote class="home-quote">
    <p>The Hound of Heaven is a striking film, simultaneously brimming with aggression and tenderness. And Nate excels in his craft as a director and storyteller with this vivid and imaginative piece of cinema.</p>
    <p>『ハウンド・オヴ・ヘヴン』は、敵意と同時に優しさに満ちた、印象的な作品です。また、ネイト・ウィルソンは、今回、鮮明で創造的な映像作品を創りだすことに成功しており、監督、またストーリーテラーとして、技術的に非常に優れていると思います。</p>
    <span class="home-quote-author">Hisao Kurosawa</span>
</blockquote>
<img class="home-poster" src="/img/poster.jpg" />