<img class="home-banner" src="/img/banner.jpg" />
<blockquote class="home-quote">
    The Hound of Heaven is a striking film, simultaneously brimming with aggression and tenderness. And Nate excels in his craft as a director and storyteller with this vivid and imaginative piece of cinema.
    <span class="home-quote-author">Hisao Kurosawa</span>
</blockquote>
<img class="home-poster" src="/img/poster.jpg" />