<img class="big-banner" src="/img/home-banner.jpg" />
<ul class="store-links">
    <li><a href="https://itunes.apple.com/us/movie/hound-of-heaven/id1157192093" class="store-link store-link--apple-itunes">Download on the App Store</a></li>
    <li><a href="https://www.amazon.com/Hound-Heaven-Jason-Petty/dp/B01M1RQNK6/" class="store-link store-link--amazon-instant-video">Available at Amazon</a></li>
    <li><a href="https://play.google.com/store/movies/details/Hound_of_Heaven?id=b8_Z-MC2VX4" class="store-link store-link--google-play">Get it on Google Play</a></li>
</ul>
<blockquote class="home-quote">
    <p>
        “&nbsp;The Hound of Heaven is a striking film, simultaneously brimming with aggression and tenderness. And Nate [N.D. Wilson] excels in his craft as a director and storyteller with this vivid and imaginative piece of cinema.&nbsp;”
    </p>
    <p>
        『ハウンド・オヴ・ヘヴン』は、敵意と同時に優しさに満ちた、印象的な作品です。また、ネイト・ウィルソンは、今回、鮮明で創造的な映像作品を創りだすことに成功しており、監督、またストーリーテラーとして、技術的に非常に優れていると思います。
    </p>
    <span class="home-quote-author">Hisao Kurosawa</span>
</blockquote>
<div class="home-trailer">
  <iframe class="home-trailer__embed" src="https://player.vimeo.com/video/185522038" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
