<h2>Production</h2>
<div class="grid">
    <a href="/stills/theater?i=0" class="grid-item"><img src="/img/prod/small/HOH_stills_10.JPG" /></a>
    <a href="/stills/theater?i=1" class="grid-item"><img src="/img/prod/small/HOH_stills_12.JPG" /></a>
    <a href="/stills/theater?i=2" class="grid-item"><img src="/img/prod/small/HOH_stills_15.JPG" /></a>
    <a href="/stills/theater?i=3" class="grid-item"><img src="/img/prod/small/HOH_stills_16.JPG" /></a>
    <a href="/stills/theater?i=4" class="grid-item"><img src="/img/prod/small/HOH_stills_17.JPG" /></a>
    <a href="/stills/theater?i=5" class="grid-item"><img src="/img/prod/small/HOH_stills_19.JPG" /></a>
    <a href="/stills/theater?i=6" class="grid-item"><img src="/img/prod/small/HOH_stills_25.JPG" /></a>
    <a href="/stills/theater?i=7" class="grid-item"><img src="/img/prod/small/HOH_stills_26.JPG" /></a>
    <a href="/stills/theater?i=8" class="grid-item"><img src="/img/prod/small/HOH_stills_3.JPG" /></a>
    <a href="/stills/theater?i=9" class="grid-item"><img src="/img/prod/small/HOH_stills_31.JPG" /></a>
    <a href="/stills/theater?i=10" class="grid-item"><img src="/img/prod/small/HOH_stills_34.JPG" /></a>
    <a href="/stills/theater?i=11" class="grid-item"><img src="/img/prod/small/HOH_stills_38.JPG" /></a>
    <a href="/stills/theater?i=12" class="grid-item"><img src="/img/prod/small/HOH_stills_41.JPG" /></a>
    <a href="/stills/theater?i=13" class="grid-item"><img src="/img/prod/small/HOH_stills_5.JPG" /></a>
    <a href="/stills/theater?i=14" class="grid-item"><img src="/img/prod/small/HOH_stills_9.JPG" /></a>
    <a href="/stills/theater?i=15" class="grid-item"><img src="/img/prod/small/HOH_stills_27.JPG" /></a>
</div>
<h2 class="padded">Behind the Scenes</h2>
<div class="grid">
    <a href="/stills/theater?i=16" class="grid-item"><img src="/img/bts/small/1.jpg" /></a>
    <a href="/stills/theater?i=17" class="grid-item"><img src="/img/bts/small/10.jpg" /></a>
    <a href="/stills/theater?i=18" class="grid-item"><img src="/img/bts/small/11.jpg" /></a>
    <a href="/stills/theater?i=19" class="grid-item"><img src="/img/bts/small/12.jpg" /></a>
    <a href="/stills/theater?i=20" class="grid-item"><img src="/img/bts/small/13.jpg" /></a>
    <a href="/stills/theater?i=21" class="grid-item"><img src="/img/bts/small/2.jpg" /></a>
    <a href="/stills/theater?i=22" class="grid-item"><img src="/img/bts/small/3.jpg" /></a>
    <a href="/stills/theater?i=23" class="grid-item"><img src="/img/bts/small/4.jpg" /></a>
    <a href="/stills/theater?i=24" class="grid-item"><img src="/img/bts/small/5.jpg" /></a>
    <a href="/stills/theater?i=25" class="grid-item"><img src="/img/bts/small/6.jpg" /></a>
    <a href="/stills/theater?i=26" class="grid-item"><img src="/img/bts/small/7.jpg" /></a>
    <a href="/stills/theater?i=27" class="grid-item"><img src="/img/bts/small/8.jpg" /></a>
    <a href="/stills/theater?i=28" class="grid-item"><img src="/img/bts/small/9.jpg" /></a>
</div>
<!-- we'll need these if any of the images are clicked, so load them now -->
<link  href="http://fotorama.s3.amazonaws.com/4.6.2/fotorama.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://fotorama.s3.amazonaws.com/4.6.2/fotorama.js"></script>